<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- width=device-width aide à définir la largeur de la page, pour qu'elle soit égale à celle de l'écran de votre appareil -->
    <title>Exemple de page avec Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">

        <thead>
          <tr>
            <th>NOM</th>
            <th>PRENOM</th>
            <th>STATUT</th>
            <th>ACTIONS</th>
        </tr>
          <!-- <tr>
              <th colspan="5"><input st-search="" class="form-control" placeholder="Buscar producto ..." type="text"/></th>
              </tr> -->
        </thead>
        <tbody>
          <tr *ngFor="let user of allUser">
            <td>{{user.Nom}}</td>
            <td>{{user.Prenom}}</td>
            <td>{{user.Statut}}</td>
            <td>

              <button type="button"  class="btn btn-sm btn-danger"   routerLink="/enseignementsVueAdmin" [queryParams]="{par1:user._id}">
                <i class="glyphicon glyphicon-remove-circle">Ajout d'enseignements</i>
              </button>
              <button type="button"  class="btn btn-sm btn-danger" (click)="detailsUE(user._id)" routerLink="/enseignementsParEnseignantVueAdmin" [queryParams]="{par1:user._id}">
                <i class="glyphicon glyphicon-remove-circle">Details des enseignements</i>
             </button>
            </td>
        </tr>
        </tbody>
      </table>

    <!-- à la fin de votre page html -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
