<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- width=device-width aide à définir la largeur de la page, pour qu'elle soit égale à celle de l'écran de votre appareil -->
  <title>Exemple de page avec Bootstrap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<button type="button" class="btn btn-sm btn-primary" routerLink="/enseignements"  [queryParams]="{par1:service._id}">
  <i class="glyphicon glyphicon-remove-circle">Ajout Enseignement</i>
</button>
<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
  <tr>
    <td>Reference</td>
    <td>Formation</td>
    <td>Semestre</td>
    <td>Intitule</td>
    <td>Statut</td>
    <td>Actions</td>
  </tr>

  <tbody *ngFor="let ue of service">
  <tr *ngFor="let u of ue.UE">
    <td>{{u.Ref}}</td>
    <td>{{u.Formation}}</td>
    <td>{{u.Semestre}}</td>
    <td>{{u.Intitule}}</td>
    <td>{{u.Statut}}</td>
    <td>
      <button type="button"  class="btn btn-sm btn-danger"  (click)="removeUE(u.Ref)" routerLink="/enseignementsParEnseignant" [queryParams]="{par1:ue._id}">
        <!--              -->
        <i class="glyphicon glyphicon-remove-circle">Supprimer</i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- à la fin de votre page html -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
